*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-item{
    text-align: center;
    justify-content: space-between;
    list-style: none;
    margin-top: 30px;
}
.nav-item a {
    text-decoration: none;
    justify-content: space-between;
    padding: 25px;
    font-size: 20px;
    color: black;
}

.meme-generator{
    font-family: sans-serif;
    text-align: center;
    margin-top: 60px;
}

.meme-generator img{
    height: 430px;
    object-fit: cover;

}
.meme-generator .meme-generate-btn{
    padding: 10px 20px;
    border: none;
    border-left: 4px solid #222;
    border-right: 4px solid #222 ;
    margin: 24px 0;
    font-size: 20px;
    color: #f64d4d;
    background-color: #fff;
    cursor: pointer;
    transition: transform .2s;
}
.meme-generator .meme-generate-btn:hover{
    transform: scale(1.5);
}
.meme-generator .meme-author{
    margin: 8px;

}